<?xml version='1.0' encoding='utf-8'?>
<widget id="com.battlerapscorer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>B.A.R.S.</name>
    <description>
        Battle rap scorer is a smartphone app which allows fans to score a battle rap while keeping their eyes on the action. Battles should be debatable because the performers delivered their best performances and not because an online fan can’t score a battle. The B.A.R.S. app offers an easy to use line by line scoring system as well as overall performance scores. Clearly show how battles were won and were points were scored.
    </description>
    <author email="kyle.hodgson@gmail.com" href="http://battlerapscorer.com">
        Kyle Hodgson
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
