		

            <div data-role="content">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <span></span>
                    </div>
                    <div class="ui-block-b">
                        <span>{{rapper1Name}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{rapper2Name}}</span>
                    </div>
                    <div ng-repeat="round in battleCalculator().listOfRounds()" >
                        <div class="ui-block-a">
                            <h3>Round {{round}}</h3>
                        </div>
                        <div class="ui-block-c"></div>
                        <div class="ui-block-b"></div>
                        <div class="ui-block-a">
                        <span>Total punches</span>
                        </div>
                        <div class="ui-block-c">
                            <span>{{battle().round(round).rapper(1).punches()}}</span>
                        </div>
                        <div class="ui-block-b">
                            <span>{{battle().round(round).rapper(2).punches()}}</span>
                        </div>
                        <div class="ui-block-a">
                            <span>Total performance</span>
                        </div>
                        <div class="ui-block-c">
                            <span>{{battle().round(round).rapper(1).totalCategoryScore()}}</span>
                        </div>
                        <div class="ui-block-b">
                            <span>{{battle().round(round).rapper(2).totalCategoryScore()}}</span>
                        </div>
                        <div class="ui-block-a">
                            <span>Total score</span>
                        </div>
                        <div class="ui-block-c">
                            <span>{{battle().round(round).rapper(1).total()}}</span>
                        </div>
                        <div class="ui-block-b">
                            <span>{{battle().round(round).rapper(2).total()}}</span>
                        </div>
                        <div class="ui-block-a">
                            <span>Round {{round}} winner:</span>
                        </div>
                        <div class="ui-block-c">
                            <h5 ng-show="battle().round(round).winner() == rapper1Name">{{rapper1Name}} wins!</h5>
                        </div>
                        <div class="ui-block-b">
                            <h5 ng-show="battle().round(round).winner() == rapper2Name">{{rapper2Name}}wins! </h5>
                        </div>
                    </div>
                </div>
                <h3>Overall Scores</h3>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <span>Total score</span>
                    </div>
                    <div class="ui-block-b">
                        <span>{{rapper1Score}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{rapper2Score}}</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Winner by rounds</span>
                    </div>
                    <div class="ui-block-b">
                        <span>{{battle().rapper(1).roundsWon()}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{battle().rapper(2).roundsWon()}}</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Punch score</span>
                    </div>
                    <div class="ui-block-b">
                        <span>{{battle().rapper(1).punches()}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{battle().rapper(2).punches()}}</span>
                    </div>
                    <div class="ui-block-a">
                        <h5>By attribute</h5>
                    </div>
                    <div ng-repeat="category in battle().listOfScoreCategories()">
                        <div class="ui-block-a">
                            <span>{{category}}</span>
                        </div>
                        <div class="ui-block-b">
                            <span>{{battle().rapper(1).category(category)}}</span>
                        </div>
                        <div class="ui-block-c">
                            <span>{{battle().rapper(2).category(category)}}</span>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <h5>Chokes</h5>
                    </div>
                    <div ng-repeat="error in battle().listOfErrorCategories()">
                        <div class="ui-block-a">
                            <span>{{error}}</span>
                        </div>
                        <div class="ui-block-b">
                            <span>{{battle().rapper(1).category(error)}}</span>
                        </div>
                        <div class="ui-block-c">
                            <span>{{battle().rapper(2).category(error)}}</span>
                        </div>    
                    </div>
                    
                    <div class="ui-block-a">
                        <h5>Total</h5>
                    </div>
                    <div class="ui-block-b">
                        <span></span>
                    </div>
                    <div class="ui-block-c">
                        <span></span>
                    </div>
                    
                    <div class="ui-block-b">
                        <span>{{battle().rapper(1).total()}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{battle().rapper(2).total()}}</span>
                    </div>
                </div>
            </div>