		

            <div data-role="content">
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <span></span>
                    </div>
                    <div class="ui-block-b">
                        <span>{{rapper1Name}}</span>
                    </div>
                    <div class="ui-block-c">
                        <span>{{rapper2Name}}</span>
                    </div>
                    <div class="ui-block-a">
                        <h3>Round 1</h3>
                    </div>
                    <div class="ui-block-a">
                        <span>Total punches</span>
                    </div>
                    <div class="ui-block-c">
                        <span>15</span>
                    </div>
                    <div class="ui-block-b">
                        <span>27</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total performance</span>
                    </div>
                    <div class="ui-block-c">
                        <span>14</span>
                    </div>
                    <div class="ui-block-b">
                        <span>20</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total score</span>
                    </div>
                    <div class="ui-block-c">
                        <span>29</span>
                    </div>
                    <div class="ui-block-b">
                        <span>47</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Round 1 winner</span>
                    </div>
                    <div class="ui-block-c">
                        <span>0</span>
                    </div>
                    <div class="ui-block-b">
                        <span>1</span>
                    </div>
                    <div class="ui-block-a">
                        <h3>Round 2</h3>
                    </div>
                    <div class="ui-block-c"></div>
                    <div class="ui-block-b">
                        <span></span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total punches</span>
                    </div>
                    <div class="ui-block-c">
                        <span>40</span>
                    </div>
                    <div class="ui-block-b">
                        <span>25</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total performance</span>
                    </div>
                    <div class="ui-block-c">
                        <span>10</span>
                    </div>
                    <div class="ui-block-b">
                        <span>15</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total score</span>
                    </div>
                    <div class="ui-block-c">
                        <span>50</span>
                    </div>
                    <div class="ui-block-b">
                        <span>40</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Round 2 winner</span>
                    </div>
                    <div class="ui-block-c">
                        <span>1</span>
                    </div>
                    <div class="ui-block-b">
                        <span>0</span>
                    </div>
                    <div class="ui-block-a">
                        <h3>Round 3</h3>
                    </div>
                    <div class="ui-block-a">
                        <span>Total punches</span>
                    </div>
                    <div class="ui-block-c">
                        <span>35</span>
                    </div>
                    <div class="ui-block-b">
                        <span>30</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total performance</span>
                    </div>
                    <div class="ui-block-c">
                        <span>20</span>
                    </div>
                    <div class="ui-block-b">
                        <span>10</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total score</span>
                    </div>
                    <div class="ui-block-c">
                        <span>55</span>
                    </div>
                    <div class="ui-block-b">
                        <span>40</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Round 3 winner</span>
                    </div>
                    <div class="ui-block-c">
                        <span>1</span>
                    </div>
                    <div class="ui-block-b">
                        <span>0</span>
                    </div>
                    <div class="ui-block-a">
                        <span></span>
                    </div>
                    <div class="ui-block-b"></div>
                    <div class="ui-block-c"></div>
                </div>
                <h3>Overall Scores</h3>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <span>Overall total score</span>
                    </div>
                    <div class="ui-block-b">
                        <span>134</span>
                    </div>
                    <div class="ui-block-c">
                        <span>127</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Overall winner by rounds</span>
                    </div>
                    <div class="ui-block-b">
                        <span>2</span>
                    </div>
                    <div class="ui-block-c">
                        <span>1</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Overall punch score</span>
                    </div>
                    <div class="ui-block-b">
                        <span>90</span>
                    </div>
                    <div class="ui-block-c">
                        <span>82</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Overall score by performance and by attribute</span>
                    </div>
                    <div class="ui-block-b"></div>
                    <div class="ui-block-c"></div>
                    <div class="ui-block-a">
                        <span>Jokes</span>
                    </div>
                    <div class="ui-block-b">
                        <span>8</span>
                    </div>
                    <div class="ui-block-c">
                        <span>10</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Rapping</span>
                    </div>
                    <div class="ui-block-b">
                        <span>12</span>
                    </div>
                    <div class="ui-block-c">
                        <span>20</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Aggression</span>
                    </div>
                    <div class="ui-block-b">
                        <span>6</span>
                    </div>
                    <div class="ui-block-c">
                        <span>6</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Delivery</span>
                    </div>
                    <div class="ui-block-b">
                        <span></span>
                        <span>2</span>
                    </div>
                    <div class="ui-block-c">
                        <span>7</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Strategy</span>
                    </div>
                    <div class="ui-block-b">
                        <span>4</span>
                    </div>
                    <div class="ui-block-c">
                        <span>3</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Schemes</span>
                    </div>
                    <div class="ui-block-b">
                        <span>8</span>
                    </div>
                    <div class="ui-block-c">
                        <span>1</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Freshness</span>
                    </div>
                    <div class="ui-block-b">
                        <span>6</span>
                    </div>
                    <div class="ui-block-c">
                        <span>8</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Antics</span>
                    </div>
                    <div class="ui-block-b">
                        <span>3</span>
                    </div>
                    <div class="ui-block-c">
                        <span>0</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Chokes</span>
                    </div>
                    <div class="ui-block-b">
                        <span>-5</span>
                    </div>
                    <div class="ui-block-c">
                        <span>-10</span>
                    </div>
                    <div class="ui-block-a">
                        <span>Total</span>
                    </div>
                    <div class="ui-block-b">
                        <span>44</span>
                    </div>
                    <div class="ui-block-c">
                        <span>45</span>
                    </div>
                </div>
            </div>