<div id="text-how-to-score">
<p>Once the rappers names have been entered and the winner of the coin toss has been
    selected, you are ready to score.</p>
<h4>One punch is given for:</h4>
<p><li>wordplay - metaphors, acronyms, puns, etc.</li></p>
<p><li>content - reference to event, person, thing etc.</li></p>
<p><li>disrespect- insults, threats etc.</li></p>
<p><li>freestyle - lines invented on the spot.</li></p>
<p><li>boasting - praising oneself.</li></p>
<p><li>rebuttals - comeback to a line.</li></p>
<p>The more combined punches per line the higher the score of that line.</p>
<h4>Scoring examples:</h4>
<p><li>calling your opponent fat would get 1 punch (personal attack)</p>
<p><li>calling your opponent fat by making use of wordplay would get 2 punches (personal
    attack + wordplay)</p>
<p><li>calling your opponent fat by making use of wordplay which also uses a sports reference
    would get 3 punches (personal attack + wordplay + content)</p>
<p>At the end of a round the total of punches is shown.</p>
<p>Performance is scored out of 5 stars for:</p>
<p><li>rapping - delivery in rhyme and rhythm.</li></p>
<p><li>jokes - making use of humour.</li></p>
<p><li>aggression - assertiveness or hostility.</li></p>
<p><li>delivery - composure and style in performance.</li></p>
<p><li>strategy - carrying out a plan.</li></p>
<p><li>schemes - using words around a theme.</li></p>
<p><li>antics - using props.</li></p>
<p><li>freshness - never used lines.</li></p>
<h4>Negative Points are scored out of 5 stars for:</h4>
<p><li>chokes - forgetting one's lines.</li></p>
<p><li>reaches - using words so that they lose their meaning.</li></p>
</div>