<a data-role="button" href="#startBattle" data-iconpos="right">Start</a>
<div id="text-how-to-score">
<h5>Once the rappers names have been entered and the winner of the coin toss has been
    selected, you are ready to score. Scoring is easy and it involves two steps. The
    first step is counting punches by tapping the punching glove and then tapping the
    finished round button. This takes you to the second step, the performance score sliders.
    The sliders are moved to score different performance attributes or in the case of
    chokes, to give a negative score.</h5>
<h4>How punches are counted.</h4>
<h5>One punch is given for each of the following:</h5>
<h5><li>wordplay. Any line which uses double meanings, acronyms, similes, metaphors, stretching
    words to take on different meanings etc.</li></h5>
<h5><li>content. Any line which references something within or outside the battle rap culture.
    In other words a reference to people, actions, events etc.</h5>
<h5><li>personal attacks/disrespects. Any line which attacks the opponent, or family member.</h5>
<h5><li>freestyles. Any line which appears to made up on the spot.</h5>
<h5><li>rebuttals. Any line which responds to a previous line.</h5>
<h5><li>boasting. Any line which highlights advantages possessed over an opponent</h5>
<h5>The more combined punches per line the higher the score of that line.</h5>
<h4>Examples of scoring</h4>
<h5><li>calling your opponent fat would get 1 punch (personal attack)</h5>
<h5><li>calling your opponent fat by making use of wordplay would get 2 punches (personal
    attack + wordplay)</h5>
<h5><li>calling your opponent fat by making use of wordplay which also uses a sports reference
    would get 3 punches (personal attack + wordplay + content)</h5>
<h5>At the end of a round the total of punches is shown.</h5>
<h4>Performance is counted out of five by moving the sliders for the following attributes:</h4>
<h5><li>rapping. This is to score the rapper’s ability to deliver lines in rhyme and rhythm,
    their complexity, and if versatility was shown through different flows and speeds.</h5>
<h5><li>jokes. This is to score the rapper’s ability to make use of humour and how successful
    they were in getting laughs or clowning their opponent’s style.</h5>
<h5></h5>
<h5><li>aggression. This is to score the rapper’s ability to come across as aggressive,
    for example, did threats seem real or was their tone of voice consistent with the
    content.</h5>
<h5><li>delivery. This is to score the rapper’s ability to deliver lines in a loud, confident,
    consistent voice which controls the crowd and to use their body movements to illustrate
    the lines.</h5>
<h5><li>strategy. This is to score the rapper’s ability to use strategy in the structure
    of the round or with the use of challenges.</h5>
<h5><li>schemes. This is to score the rapper’s ability to make use of schemes and their
    complexity or length.</h5>
<h5><li>antics. This is to score the rapper’s ability to use props and judge their effectiveness
    and relevance.</h5>
<h5><li>freshness. This is to score the rapper’s ability to use never seen before wordplays
    or angles.</h5>
<h4>Finally a negative score is given for chokes (forgetting one’s lines) out of ten.</h4>
<h5>At the end of a battle, each round shows punch, performance and negative choke scores
    and a winner is determined for that round. The total addition of all rounds is also
    be displayed. The winner is determined by the most rounds won but the total score
    can also indicate if the battle was close.</h5>
<a data-role="button"  href="#startBattle" data-iconpos="right">Start</a>
</div>