<h2>Finish Scoring {{round}} for {{rapperName}}</h2>
<p>Punches: {{punches}}</p>
<p>Total score: {{total}}</p>
<table>
    <tr>
        <td>Rapping</td>
        <td><a id="rapping-1" ng-click="setScore('rapping',1)">☆</a><a id="rapping-2" ng-click="setScore('rapping',2)">☆</a><a id="rapping-3" ng-click="setScore('rapping',3)">☆</a><a id="rapping-4" ng-click="setScore('rapping',4)">☆</a><a id="rapping-5" ng-click="setScore('rapping',5)">☆</a></td>
    </tr>
    <tr>
        <td>Jokes</td>
        <td><a id="jokes-1" ng-click="setScore('jokes',1)">☆</a><a id="jokes-2" ng-click="setScore('jokes',2)">☆</a><a id="jokes-3" ng-click="setScore('jokes',3)">☆</a><a id="jokes-4" ng-click="setScore('jokes',4)">☆</a><a id="jokes-5" ng-click="setScore('jokes',5)">☆</a></td>
    </tr>
    <tr>
        <td>Aggression</td>
        <td><a id="aggression-1" ng-click="setScore('aggression',1)">☆</a><a id="aggression-2" ng-click="setScore('aggression',2)">☆</a><a id="aggression-3" ng-click="setScore('aggression',3)">☆</a><a id="aggression-4" ng-click="setScore('aggression',4)">☆</a><a id="aggression-5" ng-click="setScore('aggression',5)">☆</a></td>
    </tr>
    <tr>
        <td>Vocal Delivery</td>
        <td><a id="delivery-1" ng-click="setScore('delivery',1)">☆</a><a id="delivery-2" ng-click="setScore('delivery',2)">☆</a><a id="delivery-3" ng-click="setScore('delivery',3)">☆</a><a id="delivery-4" ng-click="setScore('delivery',4)">☆</a><a id="delivery-5"  ng-click="setScore('delivery',5)">☆</a></td>
    </tr>
    <tr>
        <td>Cleverness</td>
        <td><a id="cleverness-1" ng-click="setScore('cleverness',1)">☆</a><a id="cleverness-2" ng-click="setScore('cleverness',2)">☆</a><a id="cleverness-3" ng-click="setScore('cleverness',3)">☆</a><a id="cleverness-4" ng-click="setScore('cleverness',4)">☆</a><a id="cleverness-5" ng-click="setScore('cleverness',5)">☆</a></td>
    </tr>
    <tr>
        <td>Antics</td>
        <td><a id="antics-1" ng-click="setScore('antics',1)">☆</a><a id="antics-2" ng-click="setScore('antics',2)">☆</a><a id="antics-3" ng-click="setScore('antics',3)">☆</a><a id="antics-4" ng-click="setScore('antics',4)">☆</a><a id="antics-5" ng-click="setScore('antics',5)">☆</a></td>
    </tr>
    <tr>
        <td>Freshness</td>
        <td><a id="freshness-1" ng-click="setScore('freshness',1)">☆</a><a id="freshness-2" ng-click="setScore('freshness',2)">☆</a><a id="freshness-3" ng-click="setScore('freshness',3)">☆</a><a id="freshness-4" ng-click="setScore('freshness',4)">☆</a><a id="freshness-5" ng-click="setScore('freshness',5)">☆</a></td>
    </tr>
</table>
<a href="#/round/score"><button ng-click="nextRound()">Next Round</button></a>
<a href="#/round/finish"><button>Finished Battle</button></a>