<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>BattleTapez</title>
	<script src="angular.js"></script>
	<script src="angular-route.js"></script>
	<script src="app.js"></script>
	<style>
		.circlebutton{
			display:block;
			width:100px;
			height:100px;
			border-radius:50px;
			font-size:20px;
			color:#fff;
			line-height:100px;
			text-align:center;
			background:#ff0000;
		}
	</style>
</head>
<body ng-app="bars">
	<div ng-controller="StartCtrl">
		<p>Start a new round</p>
		Rapper One
		<input type="text" ng-model="rapper1"><br>
		Rapper Two
		<input type="text" ng-model="rapper2"><br>
		<button ng-click="startBattle(rapper1,rapper2)">Start Battle</button>
	</div>
	<div ng-controller="ScoreCtrl">
		<span>Enter the title:</span>
		<input type="text" ng-model="round">
		<add-punch done="addPunch(round)"></add-punch>
	</div>
</body>
</html>
