<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>BattleTapez</title>
    <script type="text/javascript" src="lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="lib/jquery.mobile-1.1.0.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-animate.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="lib/angular-socialshare.js"></script>
    <script type="text/javascript" src="app/BattleService.js"></script>
    <script type="text/javascript" src="app/MobileController.js"></script>
    <script type="text/javascript" src="app/PerformanceScoresDirective.js"></script>
    <script type="text/javascript" src="app/HowToScoreDirective.js"></script>
    <script type="text/javascript" src="app/FinalScoresDirective.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/jquery.mobile.structure-1.1.0.css">
    <link rel="stylesheet" type="text/css" href="styles/jquery.mobile.theme-1.1.0.css">
    <link rel='stylesheet' href="styles/angular-socialshare.min.css">
</head>
<body ng-app="bars">
<div ng-controller="mobileCtrl">
    <div data-role="page" id="first-page">
        <div data-role="header">
            <h1>Battle Rap Scorer</h1>
        </div>
        <div data-role="content">
            <h1>B . A . R . S .</h1>
            <a data-role="button" href="#startBattle" data-iconpos="right">Start</a>
            <a data-role="button" href="#howToScore" data-iconpos="right">How To Score</a>
        </div>
    </div>
    <div data-role="page" id="startBattle" >
        <div data-role="header">
            <h1>BARS</h1>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain">
                <label for="r1name">Rapper one name:</label>
                <input type="text" id="r1name" ng-model="rapper1Name" />
            </div>
            <p>Vs.</p>
            <div data-role="fieldcontain">
                <label for="r2name">Rapper two name:</label>
                <input type="text" id="r2name" ng-model="rapper2Name" />
            </div>
            <div ng-show="rapper1 || rapper2">
            <p>Who is rapping first?</p>
            <a data-role="button" id="r1win" data-iconpos="right" ng-show="rapper1Name"
               ng-click="startBattle(rapper1,rapper2)" href="#punches">{{rapper1}}</a>
            <a data-role="button" id="r2win" data-iconpos="right" ng-show="rapper2Name"
               ng-click="startBattle(rapper2,rapper1)" href="#punches">{{rapper2}}</a>
            </div>
        </div>
    </div>
    <div data-role="page" id="punches" >
        <div data-role="header">
            <h1>BARS</h1>
        </div>
        <div data-role="content">
            <p>Scoring punches for {{rapperName()}} round {{getRound()}}</p>
            <a ng-click="addPunch()"><img id="btnPunch"
                                          src="punch.png"
                                          class="shake"
                                          width="250" /></a>
            <p>Punches: {{punches}}</p>
            <a data-role="button" href="#scoreperformance" >Round Finished</a>
        </div>
    </div>
    <div data-role="page" id="scoreperformance" >
        <div data-role="header">
            <h1>BARS</h1>
        </div>
        <div data-role="content" class="ui-grid-a">
            <performance-scores></performance-scores>
            <div class="ui-block-a" style="width: 100%">
                <a data-role="button" ng-click="nextRound()" href="#punches">Next Round</a>
                <a data-role="button" ng-click="computeFinals()" href="#finishedbattle">Finish Battle</a>
            </div>
        </div>
    </div>
    <div data-role="page" id="finishedbattle" >
        <div data-role="header">
            <h1>BARS</h1>
        </div>
        <div data-role="content">
            <h1>Winner: {{winner}} !</h1>
            <p>{{rapper1Name}} score: {{rapper1Score}}</p>
            <p>{{rapper2Name}} score: {{rapper2Score}}</p>
            <a twitter href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://battlerapscorer.com" data-text="Just scored a round!" data-size="large" data-hashtags="BattleRap">Tweet</a>
            <h4>Battle breakdown:</h4>
            <final-scores></final-scores>
            <a data-role="button" href="#startBattle" ng-click="clearBattle()" data-iconpos="right">New Battle</a>
            
        </div>
    </div>
    <div data-role="page" id="howToScore" data-theme="c" data-title="How to score">
        <div data-role="header">
            <h1>How To Score</h1>
        </div>
        <div data-role="content">
            <help-text></help-text>
        </div>
    </div>
</div>

</body>
</html>
